.cardContainer {
    height: 22rem;
    aspect-ratio: 2 / 2;
    padding: 1rem;
    margin:1rem;
    border: #585858 solid 0.01px;
    border-radius: 1rem;
    color: #3A3A3A;
    background-color: #ffffee;
    justify-content: center;
    
    display: grid;
    grid-template-rows: 50% 20% 30%;
}


.siteImage{
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 1rem;
    overflow: hidden;

}
.siteHeader{
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Black Han Sans', sans-serif;
}

.siteDescription{
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1rem;
}

.siteLink{
    border-radius: 1rem;
    text-decoration: none;
}

.siteLink:visited {
    color: #3A3A3A;;
  }