
.intro{
    padding: 1rem;
    color: #3A3A3A;
    width: 100%;
}

.intro > h1 {
    padding-left: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

.intro > p {
    width: 40rem;
    margin: 1rem auto; /* Center block horizontally */
    padding: 1rem 3rem; /* Consistent padding shorthand */
    text-align: left; /* Justify text to left */
    font-size: 1.2rem;
}